@charset "UTF-8";
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}
body, html{
    overflow-x: hidden;
    background-color: #f4f7f8;
    color: #333;
}
body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}
header{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg,#2c5e54,#5b9082);
}
header .header{
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    display: table;
    vertical-align: middle;
}
header .header .header-left{
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    padding-right: 15px;
}
header .header .header-middle{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
header .header .header-middle .header-search{
    position: relative;
    display: inline-block;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;  
    width: 400px;
}
header .header .header-middle .header-search .search-input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
header .header .header-middle .header-search .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 28px;
    border-left: 1px solid #eee;
    background: url(../images/icon_search.png) no-repeat 50% 50%;
    background-size: 15px 15px;
    cursor: pointer;
}
header .header .header-right{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
header .header .header-right .nav{
    display: inline-block;
}
header .header .header-right .nav a{
    font-size: 16px;
    color: rgba(255,255,255,.7);
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
header .header .header-right .nav a.active{
    color:rgba(255,255,255,1);
    border-bottom: 1px solid #fff;
}
header .header .header-right .nav a:hover{
    color:rgba(255,255,255,1);
    border-bottom: 1px solid #fff;
}
footer{
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: #5b9082;
}
footer .footer{
    width: 1180px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #fff;
}
.box-shadow{
    box-shadow: 6 4px 8px 0 hsla(0,0%,6%,.02);
}
.container{
    width: 100%;
    padding-bottom: 70px;
}
.container .container-box{
    width: 1380px;
    margin: 0 auto;
}
.main-box{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}
.main-box .main-box-header{
    display: table;
    width: 100%;
    vertical-align: middle;
}
.main-box .main-box-header .title{
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #000;
}
.main-box .main-box-header .title::before{
    display: inline-block;
    content: "";
    width: 3px;
    height: 20px;
    background-color: #5b9082;
    margin-right: 10px;
    vertical-align: middle;
    margin-bottom: 5px;
}
.main-box .main-box-header .title span{
    color: #555;
}
.main-box .main-box-header .title label{
    color: #5b9082;
}
.main-box .main-box-header .more{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.main-box .main-box-header .more a{
    font-size: 14px;
    color: #5b9082;
}
.main-box .main-box-header .more .search{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 32px;
    border: 1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.main-box .main-box-header .more .search .search-input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.main-box .main-box-header .more .search .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 28px;
    border-left: 1px solid #eee;
    background: url(../images/icon_search.png) no-repeat 50% 50%;
    background-size: 15px 15px;
    cursor: pointer;
}
.main-box .main-box-cont{
    width: 100%;
    overflow: hidden;
}
.gailan{
    width: 100%;
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: top;
}
.gailan .item{
    flex: 1;
    text-align: center;
}
.gailan .item h3{
    font-size: 16px;
    color: #999;
}
.gailan .item p{
    font-size: 24px;
    color: #000;
}
.qukuai{
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.qukuai .item{
    position: relative;
    display: inline-block;
    width: 204px;
    height: 63px;
    padding: 5px 14px;
    margin-right: 30px;
    text-align: left;
    background-color: #e5ebea;
    border: 1px solid #5b9082;
}
.block-box{
    margin-top: 20px;
    padding-bottom: 14px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
  }
  .block-box .block-cont[data-v-18b1df0a] {
    position: relative;
    width: 100%;
    height: 63px;
    overflow: hidden;
  }
  .block-box .block-list[data-v-18b1df0a] {
    width: 140%;
    height: 108px;
  }
  .block-box .block-list .block-list-item[data-v-18b1df0a] {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 63px;
    padding: 5px 14px;
    margin-right: 30px;
    text-align: left;
    background-color: #E5EBEA;
    border: 1px solid #5B9082;
  }
  .block-box .block-list .block-list-item:first-child .item-before[data-v-18b1df0a] {
    display: none;
  }
  .block-box .block-list .block-list-item .top[data-v-18b1df0a] {
    font-size: 14px;
    margin-bottom: 10px;
    color: #5B9082;
    display: -ms-flexbox;
    display: flex;
  }
  .block-box .block-list .block-list-item .top .hover-pointer[data-v-18b1df0a] {
    cursor: pointer;
    -ms-flex: 1;
        flex: 1;
  }
  .block-box .block-list .block-list-item .top .block-hash[data-v-18b1df0a] {
    text-align: right;
  }
  .block-box .block-list .block-list-item .btm[data-v-18b1df0a] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    font-size: 14px;
    color: #696969;
  }
  .block-box .block-list .block-list-item .item-before[data-v-18b1df0a] {
    position: absolute;
    width: 46px;
    height: 9px;
    top: 50%;
    left: -36px;
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
  }
  .block-box .block-list .block-list-item .item-before .ball[data-v-18b1df0a] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: #fff;
    border: 1px solid #5B9082;
  }
  .block-box .block-list .block-list-item .item-before .line[data-v-18b1df0a] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 42px;
    height: 1px;
    transform: translateY(-50%);
    background-color: #B7B7B7;
  }
  .block-box .block-list .block-list-enter-active[data-v-18b1df0a],
  .block-box .block-list .block-list-leave-active[data-v-18b1df0a] {
    transition: all 1s;
  }
  .block-box .block-list .block-list-enter[data-v-18b1df0a],
  .block-box .block-list .block-list-leave-to[data-v-18b1df0a] {
    opacity: 0;
    transform: scale(0.01);
  }
  .block-box .block-list .block-list-move[data-v-18b1df0a] {
    transition: all 1s;
  }

.block-time{
    width: 100%;
}
.block-time .title{
    width: 100%;
    font-size: 16px;
    color: #000;
}
.block-time .content{
    width: 1180px;
    margin-top: 20px;
    height: 140px;
}
.jiaoyi{
    width: 100%;
    display: table;
    margin-top: 20px;
}
.jiaoyi .jiaoyi-item{
    display: table-row;
}
.jiaoyi .jiaoyi-item>div{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.jiaoyi .jiaoyi-item:nth-child(2n+1){
    background-color: #f8f8f8;
}
.jiaoyi .jiaoyi-item:nth-child(1)>div{
    color: #666;
    text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.jiaoyi .jiaoyi-item>div a{
    color: #5b9082;
    cursor: pointer;
}
.jiaoyi .jiaoyi-item>div a:hover{
    text-decoration: underline;
}
.jiaoyi .jiaoyi-item>div span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.jiaoyi .jiaoyi-item>div label{
    display: inline-block;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #5b9082;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin-left: 5px;
}
.jiaoyi .jiaoyi-item:nth-child(n+1):hover{
    background-color:#f6f7fa;
}
.jiaoyi-more{
    width: 100%;
    text-align: right;
    overflow: hidden;
}
.jiaoyi-more a{
    font-size: 14px;
    color: #5b9082;
}
.bd-bottom{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
}
.assets-list{
    width: 100%;
    display: table;
    margin-top: 20px;
}
.assets-list .assets-list-item{
    display: table-row;
}
.assets-list .assets-list-item>div{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.assets-list .assets-list-item:nth-child(1){
    background-color: #f8f8f8;
}
.assets-list .assets-list-item:nth-child(1)>div{
    color: #666;
    text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.assets-list .assets-list-item>div a{
    color: #5b9082;
    cursor: pointer;
}
.assets-list .assets-list-item>div a:hover{
    text-decoration: underline;
}
.assets-list .assets-list-item>div span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.assets-list .assets-list-item:nth-child(n+1):hover{
    background-color:#f6f7fa;
}
.assets-list .assets-list-item .xh{
    width: 150px;
}
.assets-list .assets-list-item .cz{
    width: 150px;
}
.assets-list .assets-list-item .token{
    width: 550px;
    text-align: left;
}
.assets-list .assets-list-item .token-info{
    color: #666;
}
.assets-detail-cont{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.assets-detail-cont .tips{
    font-size: 14px;
    color: #999;
}
.assets-detail-cont .assets-table{
    width: 100%;
    display: table;
    margin-top: 20px;
}
.assets-detail-cont .assets-table .assets-item{
    display: table-row;
}
.assets-detail-cont .assets-table .assets-item>div{
    display: table-cell;
    font-size: 14px;
    color: #999;
    padding: 10px;
    word-break: break-all;
}
.assets-detail-cont .assets-table .assets-item>div:nth-child(1){
    width: 160px;
}
.assets-detail-cont .assets-table .assets-item>div span{
    color: #333;
}
.assets-detail-cont .assets-table .assets-item>div a{
    color: #5b9082;
    cursor: pointer;
}
.assets-detail-table{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 20px;
}
.assets-detail-table .table-menu{
    width: 100%;
    overflow: hidden;
}
.assets-detail-table .table-menu a{
    display: inline-block;
    font-size: 20px;
    padding: 5px 0;
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
}
.assets-detail-table .table-menu a.active{
    color: #5B9087;
    border-bottom: 3px solid #5B9087;
}
.assets-detail-table .table-cont{
    width: 100%;
    overflow: hidden;
}
.faxingjilu{
    width: 100%;
    overflow: hidden;
}
.faxingjilu .item{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    display: table;    
}
.faxingjilu .item .item-row{
    display: table-row;
}
.faxingjilu .item .item-row>div{
    display: table-cell;
    font-size: 14px;
    padding: 10px;
}
.faxingjilu .item .item-row>div span{
    color: #666;
}
.faxingjilu .item .item-row>div a{
    color: #5b9082;
    cursor: pointer;
}
.faxingjilu .item .item-row>div:nth-child(1){
    width: 160px;
}
.row-data{
    width: 100%;
    border-top: 1px solid #f0f0f0;
    overflow: hidden;
    margin-top: 20px;
}
.row-data .row-btn{
    width: 100%;
    text-align: right;
    margin-top: 20px;
}
.row-data .row-btn a{
    position: relative;
    display: inline-block;
    height: 32px;
    border: 1px solid #5b9082;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14px;
    color: #5b9082;
}
.row-data .row-btn a::after{
    position: absolute;
    top: 50%;
    right: 10px;
    display: inline-block;
    transform: translateY(-50%);
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #5b9082;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.row-data .row-btn a.active::after{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #5b9082;
    border-top: 0;
}
.row-data .row-json{
    width: 100%;
    padding: 0;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    text-align: left;
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}
.row-data .row-json pre{
    display: block;
    font-size:12px;          /*设置字号*/
    color: #606;
}
.row-data .row-json code{
    display: block;
}
.hash-handle{
    width: 100%;
    margin-top: 20px;
    border-top: 1px dotted #f0f0f0;
}
.hash-handle .hash-title{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
.hash-handle .hash-title span{
    font-size: 14px;
    color: #999;
}
.hash-detail-table{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-top: 20px;
}
.hash-detail-table .table-menu{
    width: 100%;
    overflow: hidden;
    background-color: #f6f6f6;
}
.hash-detail-table .table-menu a{
    display: inline-block;
    font-size: 16px;
    padding: 10px 0;
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
}
.hash-detail-table .table-menu a.active{
    color: #5B9087;
    border-bottom: 3px solid #5B9087;
}
.hash-detail-table .table-cont{
    width: 100%;
    overflow: hidden;
}